Repository scala/scala, pull requests merged in 2019-06, with the labels that each got.

#8117 fix 11551. use == instead of equals in BitmapIndexedSetNode
  src/library/scala/collection/immutable/HashSet.scala
  test/junit/scala/collection/immutable/HashSetTest.scala
  test/scalacheck/scala/collection/immutable/ImmutableChampHashSetProperties.scala
Labels: library:collections

#8058 Fix links to the Eta Expansion section in the spec
  spec/06-expressions.md
Labels: documentation, good-to-go-after-2.13.0

#8118 Added to the document about why it is 'unsafe'.
  src/library/scala/collection/immutable/ArraySeq.scala
Labels: documentation, good-to-go-after-2.13.0

#8113 Add StringOps#collect methods
  build.sbt
  src/library/scala/collection/StringOps.scala
  test/junit/scala/collection/StringOpsTest.scala
Labels: library:collections

#7958 RefChecks / lessAccessibleSymsInType : avoid flatMap.
  src/compiler/scala/tools/nsc/typechecker/RefChecks.scala
Labels: performance:do_not_allocate

#8132 Restarr on 2.13.0
  build.sbt
  src/reflect/mima-filters/2.13.0.backwards.excludes
  src/reflect/mima-filters/2.13.0.forwards.excludes
  versions.properties
Labels: build

#8103 Simplify List.flatMap
  src/library/scala/collection/immutable/List.scala
Labels: library:collections, performance

#8148 Fix table format in Scaladoc for PartialFunction
  src/library/scala/PartialFunction.scala
Labels: documentation, library:collections

#8006 Optimize TypeMaps used for TypeVar.unrelatable & isRelatable
  src/reflect/scala/reflect/internal/Types.scala
  src/reflect/scala/reflect/internal/tpe/TypeMaps.scala
  src/reflect/scala/reflect/runtime/JavaUniverseForce.scala
Labels: performance, performance:do_not_allocate

#8154 remove unnecessary "compilerOptionsExporter" project
  build.sbt
  src/intellij/compilerOptionsExporter.iml.SAMPLE
  src/intellij/scala.ipr.SAMPLE
Labels: build

#8116 Sleep longer to overcome shutdown hook concurrency
  test/files/run/shutdownhooks.scala
Labels: build, good-to-go-after-2.13.0

#8143 Awaitable.result should have a throws annotation of TimeoutException and InterruptedException as well as Awaitable.ready
  src/library/scala/concurrent/Awaitable.scala
  src/library/scala/concurrent/Future.scala
  src/library/scala/concurrent/package.scala
  test/files/jvm/future-spec/main.scala
Labels: library:concurrent

#8138 Add more XML to partest suite
  test/files/neg/xml-attributes.check
  test/files/neg/xml-attributes.scala
  test/files/neg/xml-comments.check
  test/files/neg/xml-comments.scala
  test/files/neg/xml-entityref.check
  test/files/neg/xml-entityref.scala
  test/files/neg/xml-match.check
  test/files/neg/xml-match.scala
  test/files/neg/xml-ns-empty.check
  test/files/neg/xml-ns-empty.scala
  test/files/neg/xml-parens.check
  test/files/neg/xml-parens.scala
  test/files/neg/xml-pcdata.check
  test/files/neg/xml-pcdata.scala
  test/files/neg/xml-procinstr.check
  test/files/neg/xml-procinstr.scala
  test/files/neg/xml-quasiquote.check
  test/files/neg/xml-quasiquote.scala
  test/files/neg/xml-quasiquote2.check
  test/files/neg/xml-quasiquote2.scala
  test/files/pos/xml-interpolation.scala
  test/files/pos/xml-match.scala
  test/files/pos/xml-ns-empty.scala
  test/files/pos/xml-ns-text.scala
  test/files/pos/xml-pcdata.scala
  test/files/pos/xml-quasiquote.scala
Labels: library:xml, tests

#8137 Fix MapView.toString when overriden
  src/library/scala/collection/MapView.scala
  test/junit/scala/collection/MapViewTest.scala
Labels: library:collections

#8114 Fix Array.fold(z)(f) when size is one
  src/library/scala/collection/ArrayOps.scala
  test/junit/scala/collection/ArrayOpsTest.scala
Labels: library:collections

#8111 Fixes scala/bug#9204
  src/compiler/templates/tool-windows.tmpl
Labels: welcome

#8050 Improve 'partest --help'
  src/partest/scala/tools/partest/nest/AbstractRunner.scala
Labels: build, good-to-go-after-2.13.0

#8024 Dead code in partest
  src/partest/scala/tools/partest/nest/Runner.scala
Labels: build, good-to-go-after-2.13.0

#8017 Check template stats for wildcards.
  src/compiler/scala/tools/nsc/ast/parser/Parsers.scala
  test/files/run/t11064.check
  test/files/run/t11064.scala
Labels: good-to-go-after-2.13.0, tool:REPL

#8016 Switch PartialFunction's fallback from PF to =>
  src/library/scala/PartialFunction.scala
Labels: good-to-go-after-2.13.0, library:base

#8005 Deprecate scala.collection.mutable.MultiMap
  src/library/scala/collection/mutable/MultiMap.scala
  test/files/run/t2857.check
Labels: good-to-go-after-2.13.0, library:collections, release-notes

#7991 save a couple of allocations when adding an annotation
  src/reflect/scala/reflect/internal/AnnotationInfos.scala
  src/reflect/scala/reflect/internal/Symbols.scala
  src/reflect/scala/reflect/internal/Types.scala
Labels: good-to-go-after-2.13.0

#8142 Prefer PartialFunction#runWith over isDefinedAt/apply
  src/library/scala/collection/immutable/TreeSeqMap.scala
  src/library/scala/jdk/DoubleAccumulator.scala
  src/library/scala/jdk/IntAccumulator.scala
  src/library/scala/jdk/LongAccumulator.scala
Labels: library:base

#8039 Sync-up ScalaCheck to 1.14
  src/scalacheck/org/scalacheck/Arbitrary.scala
  src/scalacheck/org/scalacheck/Cogen.scala
  src/scalacheck/org/scalacheck/CogenArities.scala
  src/scalacheck/org/scalacheck/Gen.scala
  src/scalacheck/org/scalacheck/Prop.scala
  src/scalacheck/org/scalacheck/Properties.scala
  src/scalacheck/org/scalacheck/ScalaCheckFramework.scala
  src/scalacheck/org/scalacheck/ScalaVersionSpecific.scala
  src/scalacheck/org/scalacheck/Shrink.scala
  src/scalacheck/org/scalacheck/Test.scala
  src/scalacheck/org/scalacheck/commands/Commands.scala
  src/scalacheck/org/scalacheck/util/ArrayListBuilder.scala
  src/scalacheck/org/scalacheck/util/Buildable.scala
  src/scalacheck/org/scalacheck/util/BuildableVersionSpecific.scala
  src/scalacheck/org/scalacheck/util/CmdLineParser.scala
  src/scalacheck/org/scalacheck/util/ConsoleReporter.scala
  src/scalacheck/org/scalacheck/util/FreqMap.scala
  src/scalacheck/org/scalacheck/util/Pretty.scala
Labels: build

#8078 expand on sliding doc
  src/library/scala/collection/Iterable.scala
  src/library/scala/collection/Iterator.scala
Labels: documentation

#8056 allow publishing testkit
  build.sbt
  src/testkit/scala/tools/testkit/AllocationTest.scala
  src/testkit/scala/tools/testkit/AssertUtil.scala
  src/testkit/scala/tools/testkit/TempDir.scala
Labels: build

#8153 Windows compat for PipelineMainTest, finally?
  src/compiler/scala/tools/nsc/CompilerCommand.scala
  test/junit/scala/tools/nsc/PipelineMainTest.scala
Labels: build

#8159 language spec: 2.13 is no longer an upcoming version
  spec/README.md
  spec/_config.yml
  spec/_layouts/default.yml
Labels: documentation

#8129 Fix type inference involving wildcards
  src/reflect/scala/reflect/internal/tpe/TypeConstraints.scala
  test/files/pos/t11558.scala
Labels: release-notes

#7920 Optimize formalTypes
  src/compiler/scala/tools/nsc/typechecker/Infer.scala
  src/reflect/scala/reflect/internal/util/Collections.scala
Labels: performance, performance:do_not_allocate

#8163 [backport] Integrate benchmark suite into main SBT build.
  build.sbt
  project/plugins.sbt
  src/intellij/benchmarks.iml.SAMPLE
  src/intellij/junit.iml.SAMPLE
  src/intellij/scala-build.iml.SAMPLE
  src/intellij/scala.ipr.SAMPLE
  test/benchmarks/README.md
  test/benchmarks/build.sbt
  test/benchmarks/project/build.properties
  test/benchmarks/project/plugins.sbt
Labels: build

#8109 Introduce a new implementation of implicit shadowing
  src/compiler/scala/tools/nsc/typechecker/Implicits.scala
Labels: performance

#8141 Simplify PartialFunction.Unlifted's applyOrElse
  src/library/scala/PartialFunction.scala
Labels: library:base

#8174 Add a test-case for issue 9352
  test/files/pos/t9352.scala
Labels: tests

#8176 Fix `mutable.ArraySeq.ofChar#addString`
  src/library/scala/collection/mutable/ArraySeq.scala
  test/junit/scala/collection/mutable/ArraySeqTest.scala
Labels: bug fix, library:collections

#8092 Adjust ArrayDeque resizeIfNecessary
  src/library/scala/collection/mutable/ArrayDeque.scala
Labels: library:collections

#8147 make Scala docs more print friendly
  src/scaladoc/scala/tools/nsc/doc/html/HtmlFactory.scala
  src/scaladoc/scala/tools/nsc/doc/html/page/Entity.scala
  src/scaladoc/scala/tools/nsc/doc/html/resource/lib/print.css
Labels: tool:scaladoc

#7906 Fix invisible dead link in Scaladoc
  src/scaladoc/scala/tools/nsc/doc/html/HtmlPage.scala
  src/scaladoc/scala/tools/nsc/doc/html/page/Entity.scala
  test/scalacheck/scala/tools/nsc/scaladoc/HtmlFactoryTest.scala
Labels: backport candidate, bug fix, tool:scaladoc

#8135 Update Dotty to 0.16.0-RC3
  project/DottySupport.scala
  project/plugins.sbt
  src/library/scala/collection/Factory.scala
  src/library/scala/concurrent/Future.scala
Labels: build

#8090 Stop overriding stringPrefix
  src/library/scala/collection/mutable/ArraySeq.scala
  src/library/scala/collection/mutable/CollisionProofHashMap.scala
  src/library/scala/collection/mutable/HashSet.scala
Labels: library:collections

#8171 Add a test for library/reflect jar sizes
  build.sbt
  project/TestJarSize.scala
Labels: build, tests

#8060 Support emitting Java 9 bytecode by adding "-target:9"
  project/ScalaOptionParser.scala
  src/compiler/scala/tools/nsc/Global.scala
  src/compiler/scala/tools/nsc/backend/jvm/analysis/BackendUtils.scala
  src/compiler/scala/tools/nsc/settings/AbsScalaSettings.scala
  src/compiler/scala/tools/nsc/settings/AbsSettings.scala
  src/compiler/scala/tools/nsc/settings/MutableSettings.scala
  src/compiler/scala/tools/nsc/settings/ScalaSettings.scala
  src/compiler/scala/tools/nsc/settings/StandardScalaSettings.scala
  test/files/neg/deprecated-options.check
  test/files/neg/deprecated-options.scala
  test/junit/scala/tools/nsc/settings/TargetTest.scala
Labels: release-notes

#8088 Reduce the overhead of macro expansion
  src/compiler/scala/reflect/macros/contexts/Enclosures.scala
  src/compiler/scala/reflect/macros/runtime/JavaReflectionRuntimes.scala
  src/compiler/scala/tools/nsc/ast/Trees.scala
  src/compiler/scala/tools/nsc/typechecker/Contexts.scala
  src/compiler/scala/tools/nsc/typechecker/Macros.scala
  src/reflect/scala/reflect/internal/Definitions.scala
  src/reflect/scala/reflect/internal/Trees.scala
  src/reflect/scala/reflect/macros/Attachments.scala
  src/reflect/scala/reflect/runtime/JavaUniverseForce.scala
Labels: performance
