Repository scala/scala, pull requests merged in 2019-04, with the labels that each got.

#7949 Cleanup Tranforsm: reduce allocations.
  src/compiler/scala/tools/nsc/transform/CleanUp.scala
Labels: performance:do_not_allocate

#7953 [11440] ArrayDeque.empty#sliding(1) returns empty iterator
  src/library/scala/collection/mutable/ArrayDeque.scala
  test/junit/scala/collection/mutable/ArrayDequeTest.scala
Labels: bug fix, library:collections, regression

#7957 Add more Scaladocs for collection.SortedMap,immutable.{SortedMap,TreeMap}
  src/library/scala/collection/SortedMap.scala
  src/library/scala/collection/immutable/SortedMap.scala
  src/library/scala/collection/immutable/TreeMap.scala
Labels: documentation, library:collections

#7939 Scaladocs for new jkd converters, move Accumulators to jdk package
  src/library/scala/collection/IndexedSeq.scala
  src/library/scala/collection/IterableOnce.scala
  src/library/scala/collection/Stepper.scala
  src/library/scala/collection/convert/StreamExtensions.scala
  src/library/scala/collection/convert/impl/BinaryTreeStepper.scala
  src/library/scala/collection/convert/impl/ChampStepper.scala
  src/library/scala/collection/convert/impl/InOrderStepperBase.scala
  src/library/scala/collection/convert/impl/IndexedStepperBase.scala
  src/library/scala/collection/convert/impl/IteratorStepper.scala
  src/library/scala/collection/convert/impl/RangeStepper.scala
  src/library/scala/collection/convert/impl/StringStepper.scala
  src/library/scala/collection/convert/impl/TableStepper.scala
  src/library/scala/collection/mutable/LinkedHashSet.scala
  src/library/scala/jdk/Accumulator.scala
  src/library/scala/jdk/AnyAccumulator.scala
  src/library/scala/jdk/DoubleAccumulator.scala
  src/library/scala/jdk/IntAccumulator.scala
  src/library/scala/jdk/LongAccumulator.scala
  src/library/scala/jdk/StreamConverters.scala
  test/junit/scala/collection/convert/AccumulatorTest.scala
  test/junit/scala/collection/convert/StreamConvertersTest.scala
Labels: prio:blocker

#7982 fix some typo
  src/compiler/scala/tools/nsc/PipelineMain.scala
  src/library/scala/collection/mutable/HashMap.scala
  src/library/scala/math/Equiv.scala
  test/benchmarks/src/main/scala-2.13/scala/scala/collection/StringOpsBenchmark.scala
  test/files/neg/outer-ref-checks.scala
  test/files/pos/t3951/Coll_1.scala
  test/files/run/t10075.scala
  test/files/run/t4729/S_2.scala
  test/junit/scala/lang/traits/BytecodeTest.scala
  test/junit/scala/reflect/internal/TypesTest.scala
Labels: documentation

#7755 Add serializations tests
  test/junit/scala/SerializationStabilityTest.scala
Labels: tests

#7970 Small fixes and more tests for jdk Converters
  build.sbt
  src/library/scala/collection/StepperShape.scala
  src/library/scala/collection/convert/StreamExtensions.scala
  src/library/scala/collection/convert/impl/ChampStepper.scala
  src/library/scala/collection/convert/impl/TableStepper.scala
  src/library/scala/collection/immutable/WrappedString.scala
  src/library/scala/collection/mutable/LinkedHashMap.scala
  src/library/scala/collection/mutable/LinkedHashSet.scala
  src/library/scala/concurrent/impl/FutureConvertersImpl.scala
  src/library/scala/jdk/Accumulator.scala
  src/library/scala/jdk/FutureConverters.scala
  src/library/scala/jdk/OptionShape.scala
  src/library/scala/jdk/StreamConverters.scala
  test/junit/scala/jdk/AccumulatorTest.scala
  test/junit/scala/jdk/FunctionConvertersTest.scala
  test/junit/scala/jdk/FutureConvertersTest.java
  test/junit/scala/jdk/StepperConversionTest.scala
  test/junit/scala/jdk/StepperTest.scala
  test/junit/scala/jdk/StreamConvertersTest.scala
  test/junit/scala/jdk/StreamConvertersTypingTest.scala
  test/scalacheck/scala/jdk/AccumulatorTest.scala
Labels: library:collections

#7989 Use array stepper in ArraySeq, ArrayBuffer. Add some empty stepper overrides.
  src/library/scala/collection/Map.scala
  src/library/scala/collection/StepperShape.scala
  src/library/scala/collection/convert/StreamExtensions.scala
  src/library/scala/collection/immutable/ArraySeq.scala
  src/library/scala/collection/immutable/VectorMap.scala
  src/library/scala/collection/mutable/ArrayBuffer.scala
  src/library/scala/collection/mutable/ArrayDeque.scala
  src/library/scala/collection/mutable/ArraySeq.scala
  test/junit/scala/jdk/StreamConvertersTypingTest.scala
Labels: library:collections

#7972 Wording for Promise to avoid memory retention
  src/library/scala/concurrent/Promise.scala
Labels: documentation, library:concurrent

#7916 [bug#11443] LazyList#find and #collectFirst allow GC
  src/library/scala/collection/immutable/LazyList.scala
  test/junit/scala/collection/immutable/LazyListGCTest.scala
  test/junit/scala/collection/immutable/LazyListTest.scala
Labels: bug fix, library:collections

#7834 Scaladoc: support setting canonical URLs
  src/scaladoc/scala/tools/nsc/doc/Settings.scala
  src/scaladoc/scala/tools/nsc/doc/html/page/Entity.scala
  test/scaladoc/resources/canonical.scala
  test/scaladoc/run/canonical-unset.check
  test/scaladoc/run/canonical-unset.scala
  test/scaladoc/run/canonical.check
  test/scaladoc/run/canonical.scala
Labels: tool:scaladoc
