Repository scala/scala, pull requests merged in 2019-05, with the labels that each got.

#8012 Un-deprecate left Either projections
  src/library/scala/util/Either.scala
Labels: library:base

#8013 Make SortedSetOps#ordering not implicit
  src/library/scala/collection/Iterable.scala
  src/library/scala/collection/SortedMap.scala
  src/library/scala/collection/SortedOps.scala
  src/library/scala/collection/SortedSet.scala
  src/library/scala/collection/StrictOptimizedSortedMapOps.scala
  src/library/scala/collection/immutable/SortedMap.scala
  test/junit/scala/collection/SortedSetTest.scala
Labels: bug fix, library:collections

#8018 fix XSS vulnerability in scaladoc search by escaping the input parameter
  src/scaladoc/scala/tools/nsc/doc/html/resource/lib/index.js
Labels: tool:scaladoc

#8004 Allow negative initial size in ArrayBuffer
  src/library/scala/collection/mutable/ArrayBuffer.scala
  test/junit/scala/collection/mutable/ArrayBufferTest.scala
Labels: library:collections

#8008 Add lower type bound to AsComparable
  src/library/scala/math/Ordering.scala
  test/junit/scala/math/OrderingTest.scala
Labels: library:base

#8035 Fix implementation of WrappedString#indexOf
  src/library/scala/collection/immutable/WrappedString.scala
  test/junit/scala/collection/immutable/WrappedStringTest.scala
Labels: bug fix, library:collections

#8034 Preemptively override s.c.i.HashMap#updatedWith
  build.sbt
  src/library/scala/collection/immutable/HashMap.scala
Labels: library:collections

#8029 Change toString for lazy collections
  build.sbt
  src/library/scala/collection/ArrayOps.scala
  src/library/scala/collection/IndexedSeqView.scala
  src/library/scala/collection/MapView.scala
  src/library/scala/collection/SeqView.scala
  src/library/scala/collection/StringOps.scala
  src/library/scala/collection/View.scala
  src/library/scala/collection/immutable/LazyList.scala
  src/library/scala/collection/immutable/Stream.scala
  test/files/jvm/serialization-new.check
  test/files/jvm/serialization.check
  test/files/run/colltest1.check
  test/files/run/infiniteloop.check
  test/files/run/serialize-stream.check
  test/files/run/streams.check
  test/files/run/t4297.scala
  test/files/run/t9219.check
  test/files/run/view-iterator-stream.check
  test/files/run/viewtest.check
  test/junit/scala/collection/immutable/LazyListTest.scala
  test/junit/scala/collection/immutable/StreamTest.scala
  test/junit/scala/sys/process/ProcessTest.scala
Labels: bug fix, library:collections

#8019 Optimize importedSymbol
  src/compiler/scala/tools/nsc/typechecker/Contexts.scala
Labels: performance, performance:do_not_allocate

#8042 Fix deprecation warning for Position
  src/compiler/scala/tools/nsc/util/package.scala
  test/scalacheck/scala/tools/nsc/scaladoc/CommentFactoryTest.scala
Labels: good-to-go-after-2.13.0

#8038 Make Option extend IterableOnce
  build.sbt
  src/library/scala/Option.scala
  src/library/scala/collection/ArrayOps.scala
  test/files/presentation/doc/doc.scala
  test/files/presentation/ide-t1000567/Runner.scala
  test/files/presentation/ide-t1000976/Test.scala
  test/files/presentation/ide-t1001388/Test.scala
  test/files/presentation/parse-invariants/Test.scala
  test/files/presentation/private-case-class-members/Test.scala
  test/files/presentation/t8085/Test.scala
  test/files/presentation/t8085b/Test.scala
  test/files/presentation/t8934/Runner.scala
  test/files/run/icode-reader-dead-code.scala
  test/files/run/noInlineUnknownIndy/Test.scala
  test/files/run/t3346e.scala
  test/junit/scala/collection/MapTest.scala
Labels: library:base

#8047 Partially apply BuildFrom to Factory
  build.sbt
  src/library/scala/collection/BuildFrom.scala
  test/junit/scala/collection/BuildFromTest.scala
Labels: library:collections

#8052 Fix regression in import name comparison
  src/reflect/scala/reflect/internal/Trees.scala
Labels: bug fix, prio:blocker

#8065 Deprecate the companionClass of any2stringadd
  src/library/scala/Predef.scala
Labels: good-to-go-after-2.13.0

#8070 Update README.md to help new contributors find issues
  README.md
Labels: documentation

#8075 Avoid typechecking val and def tpt-s twice
  src/compiler/scala/tools/nsc/typechecker/Namers.scala
  src/compiler/scala/tools/nsc/typechecker/Typers.scala
  test/files/neg/t2918.check
  test/files/neg/t5093.check
  test/files/run/analyzerPlugins.check
  test/junit/scala/reflect/internal/PrintersTest.scala
Labels: performance

#7740 Un-deprecate eta-expansion of 0-ary methods
  src/compiler/scala/tools/nsc/typechecker/Typers.scala
  test/files/neg/t7187-2.13.check
  test/files/neg/t7187-2.13.scala
  test/files/neg/t7187.check
  test/files/run/t7187-2.13.scala
Labels: release-notes

#7956 SpecializeTypes/Unify: avoid List.map allocations
  src/compiler/scala/tools/nsc/transform/SpecializeTypes.scala
Labels: performance:do_not_allocate

#7955 Types - isWithinBounds: avoid middle list
  src/reflect/scala/reflect/internal/Types.scala
Labels: performance:do_not_allocate

#7998 [backport] Scaladoc: support setting canonical URLs
  src/scaladoc/scala/tools/nsc/doc/Settings.scala
  src/scaladoc/scala/tools/nsc/doc/html/page/Entity.scala
  test/scaladoc/resources/canonical.scala
  test/scaladoc/run/canonical-unset.check
  test/scaladoc/run/canonical-unset.scala
  test/scaladoc/run/canonical.check
  test/scaladoc/run/canonical.scala
Labels: tool:scaladoc

#8015 [nomerge] backport #7981 (package LICENSE/NOTICE with jars)
  project/License.scala
  project/Osgi.scala
Labels: Developers

#8059 Deprecation for thee, not for we
  src/compiler/scala/tools/nsc/plugins/Plugin.scala
  src/reflect/scala/reflect/internal/AnnotationCheckers.scala
Labels: good-to-go-after-2.13.0

#8082 Remove concat, ++ and + overloads from MapView
  build.sbt
  src/library/scala/collection/MapView.scala
Labels: library:collections

#8101 Prefer Type.foreach to Type.filter
  src/compiler/scala/tools/nsc/typechecker/TypeDiagnostics.scala
Labels: performance

#8079 Scala 2.11.13 requires Java 8; improved Java 11 support (upgrade to asm 6.2)
  build-ant-macros.xml
  build.sbt
  build.xml
  project/build.properties
  src/compiler/scala/tools/nsc/Global.scala
  src/compiler/scala/tools/nsc/backend/jvm/AsmUtils.scala
  src/compiler/scala/tools/nsc/backend/jvm/BCodeBodyBuilder.scala
  src/compiler/scala/tools/nsc/backend/jvm/BCodeHelpers.scala
  src/compiler/scala/tools/nsc/backend/jvm/BCodeIdiomatic.scala
  src/compiler/scala/tools/nsc/backend/jvm/BCodeSkelBuilder.scala
  src/compiler/scala/tools/nsc/backend/jvm/BTypes.scala
  src/compiler/scala/tools/nsc/backend/jvm/ClassNode1.java
  src/compiler/scala/tools/nsc/backend/jvm/GenASM.scala
  src/compiler/scala/tools/nsc/backend/jvm/LabelNode1.java
  src/compiler/scala/tools/nsc/backend/jvm/MethodNode1.java
  src/compiler/scala/tools/nsc/backend/jvm/analysis/BackendUtils.scala
  src/compiler/scala/tools/nsc/backend/jvm/analysis/ProdConsAnalyzer.scala
  src/compiler/scala/tools/nsc/backend/jvm/opt/ByteCodeRepository.scala
  src/compiler/scala/tools/nsc/backend/jvm/opt/BytecodeUtils.scala
  src/compiler/scala/tools/nsc/classpath/DirectoryFlatClassPath.scala
  src/compiler/scala/tools/nsc/settings/AbsScalaSettings.scala
  src/compiler/scala/tools/nsc/settings/MutableSettings.scala
  src/compiler/scala/tools/nsc/settings/StandardScalaSettings.scala
  src/compiler/scala/tools/nsc/transform/Delambdafy.scala
  src/compiler/scala/tools/nsc/transform/UnCurry.scala
  src/manual/scala/man1/scalac.scala
  src/partest/scala/tools/partest/nest/StreamCapture.scala
  test/benchmarks/src/main/scala/scala/tools/nsc/backend/jvm/ProdConsBenchmark.scala
  test/files/neg/deprecated-target.check
  test/files/neg/deprecated-target.flags
  test/files/neg/deprecated-target.scala
  test/files/neg/t6289.check
  test/files/presentation/callcc-interpreter.check
  test/files/run/classfile-format-52.scala
  test/files/run/nothingTypeDce.flags
  test/files/run/nothingTypeDce.scala
  test/files/run/nothingTypeNoFramesNoDce.check
  test/files/run/nothingTypeNoFramesNoDce.flags
  test/files/run/nothingTypeNoOpt.flags
  test/files/run/t2873.check
  test/files/run/t2873.scala
  test/files/run/t7747-repl.check
  test/junit/scala/collection/immutable/PagedSeqTest.scala
  test/junit/scala/tools/nsc/backend/jvm/opt/CompactLocalVariablesTest.scala
  test/junit/scala/tools/nsc/backend/jvm/opt/MethodLevelOpts.scala
  test/junit/scala/tools/nsc/backend/jvm/opt/UnreachableCodeTest.scala
  test/junit/scala/tools/nsc/classpath/FlatClassPathResolverTest.scala
  test/junit/scala/tools/testing/BytecodeTesting.scala
  versions.properties
Labels: support

#8093 Add default IterableOnce#knownSize impl
  build.sbt
  src/library/scala/Option.scala
  src/library/scala/collection/IterableOnce.scala
Labels: library:collections

#8096 Add empty paren constructor for s.c.i.HashSet
  build.sbt
  src/library/scala/collection/immutable/HashSet.scala
Labels: library:collections

#8104 Add `isFinite`-method to RichDouble and RichFloat
  build.sbt
  src/library/scala/runtime/RichDouble.scala
  src/library/scala/runtime/RichFloat.scala
  test/files/presentation/infix-completion.check
  test/files/presentation/infix-completion2.check
Labels: library:base

#8106 Un-deprecate `option2Iterable`
  src/library/scala/Option.scala
Labels: library:collections

#8083 Remove unnecessary type parameter on `IterableOnce#stepper`
  build.sbt
  src/library/scala/collection/BitSet.scala
  src/library/scala/collection/IndexedSeq.scala
  src/library/scala/collection/IterableOnce.scala
  src/library/scala/collection/Map.scala
  src/library/scala/collection/StepperShape.scala
  src/library/scala/collection/convert/StreamExtensions.scala
  src/library/scala/collection/immutable/ArraySeq.scala
  src/library/scala/collection/immutable/HashMap.scala
  src/library/scala/collection/immutable/HashSet.scala
  src/library/scala/collection/immutable/NumericRange.scala
  src/library/scala/collection/immutable/Range.scala
  src/library/scala/collection/immutable/TreeMap.scala
  src/library/scala/collection/immutable/TreeSet.scala
  src/library/scala/collection/immutable/Vector.scala
  src/library/scala/collection/immutable/VectorMap.scala
  src/library/scala/collection/immutable/WrappedString.scala
  src/library/scala/collection/mutable/ArrayBuffer.scala
  src/library/scala/collection/mutable/ArrayDeque.scala
  src/library/scala/collection/mutable/ArraySeq.scala
  src/library/scala/collection/mutable/HashMap.scala
  src/library/scala/collection/mutable/HashSet.scala
  src/library/scala/collection/mutable/TreeMap.scala
  src/library/scala/collection/mutable/TreeSet.scala
  src/library/scala/jdk/Accumulator.scala
  src/library/scala/jdk/AnyAccumulator.scala
  src/library/scala/jdk/DoubleAccumulator.scala
  src/library/scala/jdk/IntAccumulator.scala
  src/library/scala/jdk/LongAccumulator.scala
  test/junit/scala/jdk/StepperTest.scala
  test/junit/scala/jdk/StreamConvertersTypingTest.scala
Labels: library:collections
