Repository scala/scala, pull requests merged in 2019-12, with the labels that each got.

#8569 two more tests for apparently-fixed issues
  test/files/pos/t7216.scala
  test/files/run/t7288.scala
Labels: build

#8549 Advance ConcatIterator.last
  src/library/scala/collection/Iterator.scala
  test/junit/scala/collection/IteratorTest.scala
Labels: library:collections

#8550 [nomerge] ConcatIterator.last advances
  src/library/scala/collection/Iterator.scala
  test/junit/scala/collection/IteratorTest.scala
Labels: library:collections

#8562 Import travis caching config and JDK install from scala-dev
  .travis.yml
Labels: build

#8467 Avoid allocations of reusable CanBuildFroms
  src/library/scala/Array.scala
  src/library/scala/collection/BitSet.scala
  src/library/scala/collection/GenMap.scala
  src/library/scala/collection/Map.scala
  src/library/scala/collection/Set.scala
  src/library/scala/collection/concurrent/TrieMap.scala
  src/library/scala/collection/immutable/BitSet.scala
  src/library/scala/collection/immutable/HashSet.scala
  src/library/scala/collection/immutable/IntMap.scala
  src/library/scala/collection/immutable/ListMap.scala
  src/library/scala/collection/immutable/ListSet.scala
  src/library/scala/collection/immutable/LongMap.scala
  src/library/scala/collection/immutable/Map.scala
  src/library/scala/collection/immutable/Set.scala
  src/library/scala/collection/immutable/Stream.scala
  src/library/scala/collection/immutable/WrappedString.scala
  src/library/scala/collection/mutable/AnyRefMap.scala
  src/library/scala/collection/mutable/ArrayBuilder.scala
  src/library/scala/collection/mutable/BitSet.scala
  src/library/scala/collection/mutable/HashMap.scala
  src/library/scala/collection/mutable/HashSet.scala
  src/library/scala/collection/mutable/LinkedHashMap.scala
  src/library/scala/collection/mutable/LinkedHashSet.scala
  src/library/scala/collection/mutable/LongMap.scala
  src/library/scala/collection/mutable/Map.scala
  src/library/scala/collection/mutable/Set.scala
  src/library/scala/collection/mutable/WeakHashMap.scala
  src/library/scala/collection/mutable/WrappedArray.scala
  src/library/scala/collection/mutable/WrappedArrayBuilder.scala
  src/library/scala/reflect/ClassTag.scala
Labels: library:collections, performance:do_not_allocate

#8579 Throw on null env var
  src/library/scala/sys/package.scala
  test/junit/scala/sys/env.scala
Labels: library:base, release-notes

#8567 Wording fixes in documentation and spec
  CONTRIBUTING.md
  build.sbt
  spec/01-lexical-syntax.md
  spec/11-annotations.md
  spec/index.md
  test/script-tests/README
Labels: documentation

#8565 s.c.i.Queue optimizations for Queue.from, queue#apply, queue#appendedAll
  src/library/scala/collection/immutable/Queue.scala
  test/scalacheck/scala/collection/immutable/QueueProperties.scala
Labels: library:collections

#8583 faster equals for HashSet
  src/library/scala/collection/immutable/HashSet.scala
  test/benchmarks/src/main/scala/scala/collection/immutable/HashSetEqualsBenchmark.scala
  test/junit/scala/collection/immutable/HashSetTest.scala
  test/junit/scala/tools/testing/AllocationTest.scala
Labels: library:collections

#8595 Add JDK 9 constant types to the ClassfileParser
  src/compiler/scala/tools/nsc/symtab/classfile/ClassfileParser.scala
  src/reflect/scala/reflect/internal/ClassfileConstants.scala
  test/scaladoc/run/java-modules.check
  test/scaladoc/run/java-modules.scala
Labels: release-notes

#8594 Fix formatting in Spec's Literal Types section
  spec/03-types.md
Labels: documentation

#8604 Upgrade Dotty to 0.21.0-RC1
  project/DottySupport.scala
Labels: build
